<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>サインアップの確認</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Manrope', sans-serif;">
    <div style="width:600px; background-color: #fff; margin: 10px auto; border: 1px solid #ebebeb;">
        <table style="margin: 0 auto;">
            <tr>
                <td style="text-align:center; font-size: 24px; font-weight: 500; padding: 15px;">サインアップの確認</td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 10px 15px">こんにちは、</td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 0px 95px;">
                    ご登録ありがとうございます！以下のリンクをクリックして、メールアドレスの確認をお願いします。
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 16px; font-weight: 700; padding: 10px;">
                    <a href="{{confirmationLink}}">メールアドレスを確認</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 10px 15px;">
                    もしご自身でサインアップを行っていない場合は、このメールを無視してください。
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400;">
                    <img src="{{baseUrl}}/image/template-img/logo_Armada.png" alt="Armadaロゴ">
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 18px; font-weight: 700;">
                    <a href="https://shop.armada-style.com/" style="text-decoration: none; color: #FF4300">
                        www.shop.armada-style.com
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 15px 95px 30px 95px; color: #828282;">
                    こちらはArmadaアプリから送信された自動メールです。<br>このメッセージに返信しないでください。誰も確認できません。
                </td>
            </tr>
        </table>
    </div>
</body>

</html>