<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirm Your Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Manrope', sans-serif;">
    <div style="width:600px; background-color: #fff; margin: 10px auto; border: 1px solid #ebebeb;">
        <table style="margin: 0 auto;">
            <tr>
                <td style="text-align:center; font-size: 24px; font-weight: 500; padding: 15px;">Confirm Your Signup</td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 10px 15px">Hi,</td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 0px 95px;">
                    Thank you for signing up! Please confirm your email address by clicking the link below.
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 16px; font-weight: 700; padding: 10px;">
                    <a href="{{confirmationLink}}">Confirm Email</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 10px 15px;">
                    If you did not sign up, please ignore this email.
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400;">
                    <img src="{{baseUrl}}/image/template-img/logo_Armada.png" alt="Armada Logo">
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 18px; font-weight: 700;">
                    <a href="https://shop.armada-style.com/" style="text-decoration: none; color: #FF4300">
                        www.shop.armada-style.com
                    </a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center; font-size: 13px; font-weight: 400; padding: 15px 95px 30px 95px; color: #828282;">
                    This is an automated email sent by the Armada app.<br>Do not reply to this message, no-one will see it.
                </td>
            </tr>
        </table>
    </div>
</body>

</html>